@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-color: rgba(20, 20, 20, 1);
    --background-gradient: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

body {
    color: var(--font-color);
    background-image: var(--background-gradient);
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 8px 0;
}

*::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background: gray;
}

*::-webkit-scrollbar-track-piece {
    display: none;
}